@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #111;
  font-size: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  z-index: 90;
  position: fixed;
  width: 100%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.5rem;
  background-color: rgba(17, 17, 17, 0.438);
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

#hamburger-button {
  background-color: transparent;
  border: none;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
}

.nav-link:hover {
  color: #eab847;
  border-bottom: 2px solid #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav-logo {
  font-size: 2rem;
  font-weight: 600;
  color: #fefefe;
  z-index: 4;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.main video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.main h2 {
  position: absolute;
  z-index: 2;
  font-size: 10vw;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  mix-blend-mode: multiply;
  width: 100%;
  text-align: center;
  background-color: #111;
}

.main h4 {
  position: absolute;
  z-index: 5;
  margin-top: 8em;
  font-size: 3vw;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  text-align: center;
  background-color: #111;
}

.main h4 span {
  width: 100%;
  text-align: center;
  color: #eab847;
  font-size: 1em;
  mix-blend-mode: screen;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fefefe;
}

.foto-blogger {
  height: 50%;
  width: 50%;
}

.intro-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3em;
}

.intro-text h3 {
  font-size: 4vw;
  margin-bottom: 0.5em;
}

.intro-text p {
  margin-top: 2em;
  font-size: 1.5vw;
  line-height: 1.6em;
}

.line {
  display: block;
  width: 45px;
  height: 2px;
  margin: 4px;
  background-color: #111;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  gap: 8px;
  place-content: center;
  padding: 4em;
}

.food-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(17, 17, 17, 0.829);
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.food-container img {
  width: 200px;
  height: 180px;
}

.food-container p {
  color: #fefefe;
  font-size: 1em;
  margin-top: 0.5em;
}

.food-text {
  -webkit-box-pack: column;
      -ms-flex-pack: column;
          justify-content: column;
  margin: 1em;
}

.sub-text {
  color: #eab847;
  text-transform: uppercase;
  text-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  font-size: 0.81em;
  margin-top: 1em;
}

.section-cards {
  background: url("https://images.pexels.com/photos/1092730/pexels-photo-1092730.jpeg?cs=srgb&dl=pexels-trang-doan-1092730.jpg&fm=jpg");
  min-height: 1200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-cards .card-h1 {
  position: relative;
  font-size: 3em;
  color: #fff;
  width: 100%;
  text-align: center;
  background-color: #111;
  top: 1em;
}

.yellow-span {
  color: #eab847;
}

/*Weekmenu*/
.weekMenu-section {
  background-color: rgba(0, 0, 0, 0.692);
  margin-bottom: 3em;
  padding-bottom: 3em;
}

.weekMenu-section h1 {
  position: relative;
  font-size: 3em;
  color: #fff;
  width: 100%;
  text-align: center;
  background-color: #111;
}

.carousel {
  position: relative;
  height: 500px;
  width: clamp(300px, 40%, 350px);
  margin: 0 auto;
  margin-top: 2em;
}

.carousel__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-grid-row: 1;
  grid-row: 1;
}

.carousel__track-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.carousel__button--left {
  left: -35px;
}

.carousel__button--right {
  right: -35px;
}

.carousel__button i {
  width: 25px;
  color: #fefefe;
}

.carousel__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
}

.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: white;
  margin: 0 12px;
  cursor: pointer;
  border: 2px solid #84a59d;
}

.carousel__indicator.current-slide {
  background: #111;
  border: 1px solid rgba(132, 165, 157, 0.514);
}

.is-hidden {
  display: none;
}

.carousel__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  place-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

.carousel li:nth-of-type(1) {
  background: #b3793a;
}

.carousel li:nth-of-type(2) {
  background: #f5cac3;
}

.carousel li:nth-of-type(3) {
  background: #84a59d;
}

.carousel li:nth-of-type(4) {
  background: #bde2d4;
}

.carousel li:nth-of-type(5) {
  background: #f28482;
}

.carousel li:nth-of-type(6) {
  background: #e63a38;
}

.carousel li:nth-of-type(7) {
  background: #8d82f2;
}

.slide-content {
  position: relative;
  height: 100%;
  margin-top: 1em;
  -ms-grid-row: 2;
  grid-row: 2;
}

/* Button*/
.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 130px;
  cursor: pointer;
  margin-top: 1.5em;
  margin: 0 auto;
}

.btn a {
  color: #000;
  font-weight: 700;
  font-size: 14px;
}

.btn-day {
  color: #111;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  margin-top: 2.5em;
}

.btn-day::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(254, 254, 254, 0.137);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #111;
  border: 1px solid #111;
  -webkit-box-shadow: 0 10px 27px rgba(255, 255, 255, 0.05);
          box-shadow: 0 10px 27px rgba(255, 255, 255, 0.05);
}

.btn-day:hover::before {
  opacity: 0;
  -webkit-transform: scale(0.5, 0.5);
          transform: scale(0.5, 0.5);
}

.btn-day::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.btn-day:hover::after {
  opacity: 1;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

/* form subscribe */
.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.email {
  padding: 14px;
  margin: 15px 0 15px 15px;
  border: 1px solid rgba(255, 255, 255, 0.158);
  border-radius: 14px;
  width: 18em;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  outline: none;
  font-size: 16px;
}

::-webkit-input-placeholder {
  color: #eab847;
  font-family: "Poppins", sans-serif;
}

:-ms-input-placeholder {
  color: #eab847;
  font-family: "Poppins", sans-serif;
}

::-ms-input-placeholder {
  color: #eab847;
  font-family: "Poppins", sans-serif;
}

::placeholder {
  color: #eab847;
  font-family: "Poppins", sans-serif;
}

/* btn subscribe */
.sub-btn {
  margin: 15px 15px 15px -45px;
  font-size: 16px;
  padding: 15px;
  border-radius: 14px;
  border-style: none;
  background-color: #eab847;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  outline: none;
}

.sub-btn span {
  text-align: center;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 2;
}

.sub-btn {
  position: relative;
}

.sub-btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: 13px;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  background: tomato;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.sub-btn:hover {
  color: #111;
}

.sub-btn:hover:after {
  width: 100%;
}

#Brand-letters {
  color: #eab847;
}

/* Icons */
*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.footer-container {
  display: -ms-grid;
  display: grid;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  place-items: center;
  background: linear-gradient(315deg, #111);
  padding: 4em;
  color: #fff;
}

.wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon {
  color: #111;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  -webkit-transform: translate(-50%) rotate(45deg);
          transform: translate(-50%) rotate(45deg);
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #ff0000;
  color: #ffffff;
}

.wrapper .pinterest:hover,
.wrapper .pinterest:hover,
:hover .tooltip,
.wrapper .pinterest:hover,
:hover .tooltip::before {
  background-color: #e60023;
  color: #ffffff;
}

.text-ty {
  margin-top: 1em;
}

.link-ty {
  text-decoration: none;
  color: #ffff;
}

@media only screen and (max-width: 639px) {
  
    .main h2{
    font-size:15vw;
  }
  .main h4{
    font-size:5vw;
  }
  .section-cards {
    background-attachment: scroll;
  }
  .intro-section {
    padding: 0;
  }
  .intro-section h3 {
    font-size: 4vh;
    margin-bottom: 0.5em;
  }
  .intro-section p {
    margin-top: 2em;
    font-size: 2.5vw;
    line-height: 1.6em;
  }
  .weekMenu-section {
    margin-bottom: 0;
    padding-bottom: 4em;
  }
  .footer-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    font-family: "Poppins", sans-serif;
    place-content: center;
    background: linear-gradient(315deg, #111);
    color: #fff;
    text-align: center;
    padding: 4em;
    margin: 0 auto;
  }
  .follow-h4 {
    font-size: 1.5em;
    margin: 0;
  }
  .text-ty {
    font-size: 1em;
  }
  .copy {
    margin-top: 1em;
  }
  footer {
    height: 100%;
  }
  .email {
    width: 80%;
    height: 100%;
  }
  .nav-logo {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px) {
  header {
    z-index: 90;
    position: fixed;
    width: 100%;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #111;
    width: 100%;
    border-radius: 0px 0px 3px 3px;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    height: 100vh;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .navbar {
    background-color: #111;
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 2.5rem 0;
  }
  .nav-link:hover {
    color: #fff;
    font-size: 1.7em;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-bottom: 1px solid #eab847;
  }
  .nav-logo {
    margin: 0 auto;
  }
  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 10;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .intro-section {
    padding: 0;
  }
  .intro-section h3 {
    font-size: 4vh;
    margin-bottom: 0.5em;
  }
  .intro-section p {
    margin-top: 2em;
    font-size: 1.5vh;
    line-height: 1.6em;
  }
  .intro-text {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .foto-blogger {
    width: 100%;
    height: auto;
  }
  .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 0 0;
    place-content: center;
    margin: 0;
    padding: 0;
    margin-top: 4em;
  }
  .food-container {
    border-bottom: 1px solid #fff;
  }
  .food-container:last-child {
    border-bottom: none;
  }
  .section-cards .card-h1 {
    top: 0.5em;
  }
  .food-text .sub-text {
    margin-top: 2.5em;
    font-size: 1.3vh;
  }
  .food-text p {
    font-size: 1.6vh;
    margin-top: 0;
    line-height: 1.8em;
  }
  .footer-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    font-family: "Poppins", sans-serif;
    place-content: center;
    background: linear-gradient(315deg, #111);
    padding: 0 auto;
    margin-top: 0.5em;
    color: #fff;
    text-align: center;
  }
  .follow-h4 {
    font-size: 1.5em;
  }
  .text-ty {
    font-size: 1em;
  }
  .copy {
    margin-top: 1em;
  }
}

@media only screen and (min-width: 770px) {
  grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    gap: 8px;
    place-content: center;
    padding: 4em;
  }
  .food-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgba(17, 17, 17, 0.829);
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    max-width: 38em;
    min-width: 390px;
    margin: auto;
  }
  .food-container img {
    height: 180px;
    width: 250px;
  }
  .food-container p {
    color: #fefefe;
    font-size: 1em;
    line-height: 1.8em;
  }
  .food-text {
    -webkit-box-pack: column;
        -ms-flex-pack: column;
            justify-content: column;
  }
  .sub-text {
    color: #eab847;
    text-transform: uppercase;
    text-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    font-size: 0.8em;
  }
  .footer-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "subs subs social social"
 ". thanks thanks ."
 "copy copy copy copy";
    font-family: "Poppins", sans-serif;
    place-content: center;
    background: linear-gradient(315deg, #111);
    color: #fff;
    text-align: center;
    padding: 2em 2em 0 2em;
  }
  .copy {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-area: copy;
  }
  .thanks {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: thanks;
  }
  .subs {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: subs;
  }
  .social {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-area: social;
  }
  .sub-h3 {
    font-size: 1.5em;
  }
  .follow-h4 {
    font-size: 1.5em;
    margin: 0;
  }
  .text-ty {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1540px) {
  body {
    place-content: center;
    background-color: #111;
  }
  .main h2 {
    position: absolute;
    z-index: 2;
    font-size: 9rem;
    color: #fff;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    mix-blend-mode: multiply;
    width: 100%;
    text-align: center;
    background-color: #111;
  }
  .main h4 {
    position: absolute;
    z-index: 5;
    margin-top: 9em;
    font-size: 2vw;
    color: #fff;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 100%;
    text-align: center;
    background-color: #111;
  }
  .main h4 span {
    width: 100%;
    text-align: center;
    color: #eab847;
    font-size: 1em;
    mix-blend-mode: screen;
  }
  .intro-section {
    padding: 0 5vw;
    margin: 0 5vw;
  }
  .intro-section p {
    font-size: clamp(16px, 1.3em, 1.8em);
  }
  .grid-container {
    padding: 0 12vw;
    margin: 0 12vw;
    padding-top: 10em;
  }
  .container-menu {
    padding: 0 5vw;
    margin: 0 5vw;
    margin-top: 3em;
    padding-top: 3em;
  }
}
/*# sourceMappingURL=stylesheet.css.map */
